<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <title>HELP!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="js/scripts.js" type="text/javascript"></script>

</head>

<body>
    <img src="static/img/Error.png"/>
    <p style="position: absolute;"> Im not done, go away for a bit</p>
    <audio src="static/img/boom.mp3" autoplay preload="auto"></audio>
</body>

</html>