<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+AU+TAS:wght@100..400&display=swap" rel="stylesheet">

    <title>Shabbat @ Vic</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>

<body>
    <header>
        <div class="banner-container">
            <h1>Shabbat @ Vic</h1>
        </div>

        <div class="pg_tabs-container">
            <button id="tab0" onclick="switchtab(0)" class="pg_tab pg_tab-active"> Home </button>
            <button id="tab1" onclick="switchtab(1)" class="pg_tab"> About Us </button>
            <button id="tab2" onclick="switchtab(2)" class="pg_tab"> Contact Us </button>
            <button id="tab3" onclick="switchtab(3)" class="pg_tab"> Events </button>
            <button id="tab4" onclick="switchtab(4)" class="pg_tab"> Blog </button>
        </div>

        <script>
            function switchtab(num){
                for (i=0; i <= 4; i++){
                    console.log(i)
                    if (i == num){
                        console.log("equal",num)
                        document.getElementById("tab"+(num).toString()).classList.add("pg_tab-active")
                    } else {
                        document.getElementById("tab"+(i).toString()).classList.remove("pg_tab-active")
                    }
                }
            }
        </script>

    </header>

    <div class="main-container">

        <div class="left-container">
            <img id="bg1" class="background-img" src="{{ url_for('static', filename='img/shabbat_dinner.JPG') }}">
            <!-- <img id="bg2" class="background-img" src="{{ url_for('static', filename='img/passover_2.JPG') }}"> 
            <img id="bg3" class="background-img" src="{{ url_for('static', filename='img/purim_dinner.JPG') }}">  -->

            <script>

            </script>

            <div class="welcome-text">
                <div class="welcome_1-text">
                    <p>Shalom, </p>
                </div>
                
                <div class="welcome_2-text">
                    <p>We are a small group of <br> Shabbat enjoyers. </p>
                </div>

                <div class="welcome_3-text">
                    <a>We welcome you to join us.</a>
                </div>
            </div>
        </div>

        <div class="right-container">
            <button>Learn More</button>
            <button>I Don't Need to know anything else</button>
        </div>

    </div>

    <footer>
        <p>&copy; Shabbat @ Vic. All rights reserved.</p>
        <p>Made by Sean Belavin</p>
        <p>Last Updated: Aug 16th 2024</p>
    </footer>

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>

</html>