<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet">

    <title>TheMuseMag__</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
    <script src="js/scripts.js" type="text/javascript"></script>

</head>

<body>
    
    <img id="background" src="static/img/Muse_math.svg">

    <!-- <div style="position:relative;padding-top:max(60%,324px);width:100%;height:0;"><iframe style="position:absolute;border:none;width:100%;height:100%;left:0;top:0;" src="https://online.fliphtml5.com/wnhxl/qavf/"  seamless="seamless" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" ></iframe></div> -->

    <div class="shifty-title">
        <div class="header"> THE </div>
        <div class="title">
            <div class="letters" id="master_works">
                <div class="letter">
                    <img class="cap-letter" src="static/img/Muse_M.svg"/>
                    <div class="text_slide right">
                            EBSITE <br> &#160; &#160; SPECIALS
                    </div>
                </div>
            </div>

            <div class="letters" id="about_us">
                <div class="letter">
                    <div class="text_slide left">ABOUT &#160;</div>
                    <img class="cap-letter" src="static/img/Muse_U.svg"/>
                    <div class="text_slide_small right">S</div>
                </div>
            </div>

            <div class="letters" id="submissions">
                <div class="letter">
                    <img class="cap-letter" src="static/img/Muse_S.svg"/>
                    <div class="text_slide right">UBMIT <br> &#160; &#160; &#160; WORK </div>
                </div>
            </div>
            <div class="letters" id="editions">
                <div class="letter">
                    <img class="cap-letter" src="static/img/Muse_E.svg"/>
                    <div class="text_slide right" id="ed"> DITIONS</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">Designed by Sean Belavin </div>
    <script>
        const containers = document.querySelectorAll('.shifty-title');
        const maxOffset = 3; // Maximum distance the container can move from center

        document.addEventListener('mousemove', (event) => {
            const { clientX, clientY } = event;
            const { innerWidth, innerHeight } = window;

            // Calculate the offset percentages
            const offsetX = ((clientX / innerWidth) - 0.5) * 2;
            const offsetY = ((clientY / innerHeight) - 0.5) * 2;

            // Calculate the final transform values
            const translateX = -offsetX * maxOffset;
            const translateY = -offsetY * maxOffset;

            // Apply the transformation to each container
            containers.forEach(container => {
                container.style.transform = `translate(-50%, -50%) translate(${translateX}vw, ${translateY}vh)`;
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            const routes = {
                'master_works': '/masterworks',
                'about_us': '/about',
                'submissions': '/submissions',
                'editions': '/editions'
            };
            for (const [containerId, route] of Object.entries(routes)) {
                const container = document.getElementById(containerId);
                if (container) {
                    container.addEventListener('click', function() {
                        window.location.href = route;
                    });
                }
            }
        });
    </script>
</body>

</html>