html{
  left: 0; right: 0; top: 0; bottom: 0;
  height: 100vh;
  width: 100vw;
}

header {
  position: absolute;
  left: 0; right: 0; top: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: 15vh;

  background-color: aqua;
}

header .banner-container{
  background-color: cadetblue;
  width: 100%;
  height: 50%;

  font-size: calc(0.5vw + 1vh);
}
header .banner-container h1{
  margin-top: 2vh;
}

header .pg_tabs-container {
  height: 50%;
  width: 75%;
  background-color: saddlebrown;

  display: flex;
}

header .pg_tabs-container button{
  margin: auto;

  width: 10%;
  height: 50%;

  font-size: min(2vw, 15px);
}

.main-container {
  position: absolute;
  left: 0; top: 0;
  margin-top: 15vh;

  width: 100vw;
  height: 80vh;

  display: flex;

  background-color: hotpink;
}

.left-container {
  background-color: white;

  width: 70vw;
}

.welcome-text p,a{
  font-family: "Playwrite AU TAS";
  font-style: normal;

  color: black;  
}

.welcome_1-text p{
  font-weight: 400;
  font-size: calc(5vw + 5vh);
  margin: 0;
}
.welcome_2-text p{
  font-weight: 200;
  font-size: calc(2vw + 2vh);
  margin: 0;
}

.welcome_3-text{
  margin-top: 5vh;
}
.welcome_3-text a{
  font-weight: 400;
  font-size: calc(2vw + 2vh);
  margin: 0;
}

.right-container{
  background-color: khaki;
  width: 30vw;
}

footer {
  position: absolute;
  left: 0; right: 0; bottom: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 5vh;

  background-color: aqua;
}

footer p{
  margin: auto;
}